@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#time{
  font-size: 60;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
